.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem 3rem 0rem 3rem;
    letter-spacing: 0.05em;
}

.imageContainer {
    display: flex;
    margin: 0.2rem 0px 0.2rem 0px;
    align-items: center;
    justify-content: center;
}

.mainTempLabel {
    background-color: transparent;
    color: white;
    border: none;
}