.headbarContainer {
    position: sticky;
    z-index: 5;
    height: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: aqua;
    /* background-image: linear-gradient(120deg, white 0%, lightblue 100%); */
    box-shadow: 0em 0.05em black;
}

.headbarTextContatiner {
    margin: auto;
}